.cart-item {
  // background: rgba(201, 18, 18, 0.253);
  background: linear-gradient(90deg, rgba(252, 97, 97, 0.486), rgba(0, 0, 255, 0));
  // width: 200px;
  // height: 200px;
  // border: 1px dotted black;
  margin: 10px;
  // padding: 5px !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .cart-image {
    width: 70px;
    height: 100px;
  }

  .cart-item-info {
    display: flex;
    flex-flow: column;
    padding-left: 10px;
  }


}